<label class="archived-checkbox-label">
	<input type="checkbox" name="comments-type" ng-click="ctrl.toggleIsArchived()" value="archived"> Archived
</label>

<ul class="comments-wrapper">
	<li ng-repeat="comment in ctrl.getComments()" class="comment" ng-class="comment.isRemoved ? 'comment-removed': 'comment-not-removed'">
		<input type="checkbox" ng-click="ctrl.toggleIsRemoved(comment)" ng-checked="comment.isRemoved" />
		<div class="comment-text">
			{{$index}} {{comment.text}}
		</div>
	</li>
</ul>